nav{
    background-color:rgb(133, 129, 129);
}
.navbar {
  transition: all 0.3s ease;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color:purple !important; 
}

.dropdown-menu {
  animation: fadeIn 0.3s ease;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
